/*   GENERIC BEGIN   */

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
  font-family: 'Cabin', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

img {
  max-width: 100%;
  width: auto;
  background-color: rgb(20, 20, 20);
}

a {
  color: unset;
  text-decoration: none;
}

button {
  background-color: unset;
  border: none;
  padding: 0.6em;
  margin: 0 0.4em;
  color: rgb(255, 255, 255);
  font-family: 'Cabin', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

button:disabled {
  color: rgb(160, 160, 160);
}

header {
    display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 3em;

  min-height: 100vh;
}

article {
  padding: 2em;
}

section {
  margin: 2em 0;
}

footer {
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
}

.icon {
  margin: 0 0.4em;
}

.icon-small {
  font-size: 0.4em;
  margin: 0 0.4em;
}

.noselect {
  user-select: none;
}

/*   GENERIC END  */

/*   FORM BEGIN   */

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin: 0.5em 0;
  padding: 0 0 0 0.5em;
  border: 1px solid rgb(50, 50, 50)
}

.inputContainer>label {
  margin-right: 1em;
  font-size: 1.2em;
}

.inputContainer>input {
  background-color: rgb(50, 50, 50);
  border: unset;
  font-size: 1.2em;
  padding: 0.5em;
  color: white;
  width: calc(50% - 1em);
  font-family: 'Cabin', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

form>button{
  
}

/*   FORM END   */

/*   NAV BEGIN   */

nav {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background-color: rgb(20, 20, 20);
}

#linkContainer {
  display: flex;
}

#linkContainer>* {
  padding: 0.6em;
}

#linkContainer>span>a {
  margin-right: 0.5em;
}

#logout {
  cursor: pointer;
}

/*   NAV END   */

/*   FRONTPAGE BEGIN   */

#frontpageBanner {
  object-fit: contain;
  max-height: 10em;
  width: auto;
}

#frontpageLauncher {
  max-width: 50%;
}

#frontpage>#blurb {
  display: flex;
  align-items: center;
  max-width: 80%;
  background-color: rgb(20, 20, 20);
}
#blurb>section>div {
  margin: 1em;
}

/*   FRONTPAGE END   */

/*   MOBILE BEGIN   */

@media screen and (max-width: 800px) {
  main {
    
    padding: 2em;
  }
  
  #frontpage>#blurb {
    flex-direction: column;
    max-width: 100%;
  }
  #frontpage>#blurb>div {
    margin-right: unset;
    margin-bottom: 2em;
  }
  #frontpageLauncher {
    max-width: 100%;
  }
}

/*   MOBILE END   */