/* #dashboard {

} */

#dashboardAtAGlance {
    display: flex;
}

#dashboardUserInfo {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgb(50,50,50);    
}

#dashboardProfilePic {
    object-fit: cover;
    width: 8em;
    height: 8em;
}