#frontpageBanner {
    object-fit: contain;
    max-height: 10em;
    width: auto;
}

#frontpageLauncher {
    max-width: 50%;
}

#frontpage>#blurb {
    display: flex;
    align-items: center;
    max-width: 80%;
    background-color: rgb(20, 20, 20);
}

#blurb>section>div {
    margin: 1em;
}